## String data type

In [ ]:
platform="Pynative"
# check type of pynative
print(type(platform))
print(platform)
# accessing 2 char in string
print(platform[1])

In [12]:
platform="Pynative"
# change 2 char in string
platform[0] = "x"
print(platform)

TypeError: 'str' object does not support item assignment

## Int Data Type

In [14]:
Credit_number=123456789
print("Credit_number: ",Credit_number)

Credit_number:  123456789

In [16]:
print(type(Credit_number))

<class 'int'>

In [1]:
# store integer using int class()

In [2]:
id=int(25)
print(id)

25

In [3]:
type(id)

int

In [5]:
id1=float(2.3)
type(id1)

float

## Store a floating-point  value

In [6]:
sallery=1000000.000
type(sallery)

float

In [8]:
sallery=float(1000000.34)
print(sallery)
type(sallery)

1000000.34

float

##  Complex Data Type

In [21]:
a = 2+3j      #  both values are int type
b = 34+2.2j   # first is int and second is float value
c = 2.3+12j   # fisrt float and second int type
print(type(a)) # class complex
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [22]:
print(a)
print(b)
print(c)

(2+3j)
(34+2.2j)
(2.3+12j)

## List data type

In [23]:
my_list=["hey" , 12 , 34.5 ,True , False]
# Display list
print(my_list)

['hey', 12, 34.5, True, False]

In [26]:
print(type(my_list)) # class list

<class 'list'>

In [28]:
print(my_list[2]) # accessing third element of list

34.5

In [29]:
print(my_list[0:3]) # slicing

['hey', 12, 34.5]

In [40]:
print(my_list[::-1]) # reverse slicing

[False, True, 34.5, 12, 'hey']

In [41]:
# modify second element of list
my_list[1]="neha"
print(my_list)

['hey', 'neha', 34.5, True, False]

In [12]:
my_list2=list(["hey" , 12 , 34.5 ,True , False])
print(my_list2)

['hey', 12, 34.5, True, False]

In [13]:
 # list is mutable data type
my_list2[1]=0
print(my_list2)

['hey', 0, 34.5, True, False]

## Tuple data type

In [6]:
create_tuple=(23,34,22,6)
print(create_tuple)

(23, 34, 22, 6)

In [7]:
type(create_tuple) # class tuple

tuple

In [8]:
# slice a tuple
print(create_tuple[0:2])

(23, 34)

In [9]:
# indexing value access
print(create_tuple[2])

22

In [10]:
# Tuple is immutable
create_tuple[1]="xyz"
print(create_tuple)

TypeError: 'tuple' object does not support item assignment

 ## Dictionary data type

In [17]:
# Creating a dictionary
my_dict = {1: "Smith", 2: "Emma", 3: "Jessa"} 
print(my_dict)     # display my_dict
print(type(my_dict)) # class dict

{1: 'Smith', 2: 'Emma', 3: 'Jessa'}
<class 'dict'>

In [18]:
# creating dictionary using dict class
my_dict2=dict({1: "Smith", 2: "Emma", 3: "Jessa"})
print(my_dict2)

{1: 'Smith', 2: 'Emma', 3: 'Jessa'}

In [20]:
# access value using a key name 
print(my_dict[1]) # smith

Smith

In [24]:
# change value of key
my_dict[1]="hey"
print(my_dict)

{1: 'hey', 2: 'Emma', 3: 'Jessa'}

## Set data type

In [25]:
# create a set using curly bracket
my_set={12,3,4,5,"neha"}
print(my_set)   # display my_set

{3, 4, 5, 'neha', 12}

In [27]:
# create set using  set class
my_set2=set({12,"nnn",34.5,True})
print(my_set2)

{'nnn', 34.5, 12, True}

In [28]:
type(my_set2)

set

In [29]:
type(my_set)

set

In [32]:
# adding element in set
my_set2.add("sd")
print(my_set2)

{'nnn', 34.5, True, 12, 'sd'}

In [33]:
# removing element in set
my_set2.remove(12)
print(my_set2)

{'nnn', 34.5, True, 'sd'}

In [34]:
my_set={12,3,4,5,"neha"}
print(my_set)   # display my_set

{3, 4, 5, 'neha', 12}

In [35]:
froz_set=frozenset(my_set)
print(froz_set)

frozenset({3, 4, 5, 'neha', 12})

In [36]:
print(type(froz_set))

<class 'frozenset'>

## Boolean data type

In [37]:
creadit_value=1234
debit_value=2345
value = creadit_value > debit_value
print(value)

False

In [39]:
creadit_value=1234
debit_value=1234
value = creadit_value == debit_value
print(value)

True

In [40]:
type(value)

bool

## Bytes data type

In [41]:
x=[5,7,5,8]
y= bytes(x)
print(y)

b'\x05\x07\x05\x08'

In [43]:
print(type(y))

<class 'bytes'>

In [44]:
print(y[1])

7

In [45]:
print(y[-1])

8

In [46]:
print(y[1:3])

b'\x07\x05'

## Range data type

In [94]:
num=range(10,15,1)
print(num)

range(10, 15)

In [95]:
print(type(num))

<class 'range'>

In [97]:
# iterate range using for loop
for i in range(10,15,1):
    print(i, end=" ")

10 11 12 13 14

## Memoryview

In [101]:
name_array=b"Pynative"
name_arrayviews= memoryview(name_array)
print(name_arrayviews)

<memory at 0x000001E6E26A9FC0>

In [103]:
sec_array=b'hello'
sec_arrayviews=memoryview(sec_array)
print(sec_arrayviews)

<memory at 0x000001E6E26AA740>

## Creating and storing in a container

In [104]:
new_array=b'studentName'
new_arrayView=memoryview(new_array)
print(new_arrayView)

<memory at 0x000001E6E26A9C00>

In [109]:
# storing it in container of iteraning
container=tuple(new_arrayView) # storing it in conatainer
# for loop using new_arrayView
for char in container:
    print(char,end=" ")

115 116 117 100 101 110 116 78 97 109 101